@model Champ.App.Models.ContestViewModel
    <h2>Contest</h2>
    <div class="well well-lg">
        <div><strong>Title: </strong>@Model.Title</div>
        <div><strong>Description: </strong>@Model.Description </div>
        <div><strong>Count of participants: </strong>@Model.CountOfParticipants</div>
        <div><strong>Number of Allowed participants: </strong>@Model.NumberOfAllowedParticipants </div>
        <div><strong>Closes on: </strong>@Model.ClosesOn</div>
        <div><strong>Participation Strategy: </strong>@Model.ParticipationStrategy</div>
        @if (Model.ParticipationStrategy == 0)
        {
            <button class="btn btn-group">Join</button>
        }
    </div>

