@model Champ.App.Models.ContestViewModel

    <div>
        <div class="form-group">Title: @Model.Title</div>

        <div class="form-group">Description: @Model.Description </div>

        <div class="form-group">Count of participants: @Model.CountOfParticipants</div>

        <div class="form-group">Number of Allowed participants: @Model.NumberOfAllowedParticipants </div>

        <div class="form-group">Closes on: @Model.ClosesOn</div>
    </div>

