@model Champ.App.Models.ContestViewModel

<div>
    <div>
        <div>Title: @Model.Title</div>

        <div>Description: @Model.Description </div>

        <div>Count of participants: @Model.CountOfParticipants</div>

        <div>Number of Allowed participants: @Model.NumberOfAllowedParticipants </div>

        <div>Closes on: @Model.ClosesOn</div>
    </div>
</div>
