@using Champ.App.Models.ContestModels
@model ContestParticipantViewModel

<h2>@Model.Title</h2>

<div class="well well-bg" style="border: 1px solid gray">
    <div class="well well-bg" style="border: 1px solid gray">
        <div>
            <strong>Description: </strong>@Model.Description
        </div>
        <div><strong>Created by: </strong> @Html.ActionLink(@Model.Creator, "GetUser", "Users", new { username = @Model.Creator }, new { title = "View profile" })</div>
        <div>
            <strong>Started: </strong>@Model.CreatedOn
        </div>
        <div><strong>Finishes: </strong>@Model.ClosesOn</div>
        <div><strong>Photos: </strong>@Model.Pictures</div>
    </div>

    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add a photo</button>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            @Html.Partial("_AddPhoto")
        </div>
    </div>
</div>
