@using Champ.App.Models.HomeModels
@model HomeViewModel

<div>
    @foreach (var contest in Model.Contests)
    {
        if (Request.IsAuthenticated)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@Html.ActionLink(contest.Title, "GetContest", "Contest", new {id = contest.Id}, null)</h4>
                    <h6>Created by: @contest.Creator</h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @foreach (var photo in contest.Pictures)
                        {
                            @Html.DisplayFor(p => photo)
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@contest.Title</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @foreach (var photo in contest.Pictures)
                        {
                            @Html.DisplayFor(p => photo)
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>

<ul class="pagination">
    @{
        for (int page = 0; page < Model.PageCount; page++)
        {
            string pageNum = (page + 1).ToString();
            string activeClass = Model.CurrentPage - 1 == page ? "active" : "";
            <li class="@activeClass">@Html.ActionLink(pageNum, "Index", routeValues: new { id = page + 1 })</li>
        }
    }
</ul>
