@model IEnumerable<Champ.App.Models.ContestModels.ContestParticipantViewModel>

<div>
    @foreach (var contest in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@contest.Title</h4>
                <h6>Created by: @contest.Creator</h6>
            </div>
            <div class="panel-body">
                <div class="row">
                    @foreach (var photo in @contest.Photos)
                    {

                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="@photo.Location" alt="No preview available" />
                            <p>@photo.Author</p>
                        </div>

                    }
                    </div >
                </div>
            </div>
    }
</div>
