@using Champ.App.Models.ContestModels
@model ICollection<ContestViewModel>


    <div class="jumbotron" style="background-image: url(../../Files/distant-nebula-wallpaper-hd.jpg)">
    <h1>Welcome to our awesome page!</h1>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    @Html.Partial("_UserAsideMenu")
                </div>
            </div>

            <div class="col-md-8" id="main-content">
                <div class="row">
                    @foreach (var contest in Model)
                    {
                        <div class="col-md-6">
                            <div class="well well-bg" style="background-color: #EBF0FA; ">
                                <h4>@Html.ActionLink(contest.Title, "GetContest", "Contest", new { id = contest.Id}, null)</h4>
                                <div><strong>Finishes: </strong>@contest.ClosesOn</div>
                                <div>
                                    <strong>Photos: </strong>Temporary unavailable @contest.Id
                                </div>
                                @if (contest.IsDismissed)
                                {
                                    <p style="color: red">This contest is dismissed.</p>
                                }
                                else
                                {
                                    <div style="padding-top: 5px">
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#inviteUsers" data-contest-id="@contest.Id">Invite Users</button>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editContest" data-contest-id="@contest.Id">Edit</button>
                                        @Html.ActionLink("Dismiss", "DismissContest", "Users", new {Id = contest.Id}, new {@class = "btn btn-info btn-sm"})
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="inviteUsers" class="modal fade" role="dialog">
        <div class="modal-dialog">
            @Html.Partial("_InviteUsersPartial")
        </div>
    </div>

    <div id="editContest" class="modal fade" role="dialog">
        <div class="modal-dialog">
            @Html.Partial("_EditContest", new EditContestViewModel())
        </div>
    </div>

    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
