@using Champ.App.Models.PhotoModels
@model PhotoViewModel

<div class="col-md-6">
    <a href="#" id="toggle-photo" data-toggle="modal" data-target="#showImage" data-location="@Model.Location" data-photo-id="@Model.Id" data-has-voted="@Model.HasVoted">
        <img src="@Model.Location" class="img-responsive" alt="No preview available" id="imageresource" />
    </a>
    <div class="row">
        <div class="col-sm-5">
            @Model.Author
        </div>
        <div class="col-sm-4">
            Votes : @Model.Votes
        </div>
    </div>
    <br/>
</div>